<div class="addthis-description">
  <p>{{ 'Buttons'|t }}</p>
  <img src="/{{ image_base_path }}/addthis_button.png" alt="addthis-button" />
  <p>{{ 'Toolbox small'|t }}</p>
  <img src="/{{ image_base_path }}/addthis_sm.png" alt="addthis-small" />
  <p>{{ 'Toolbox large'|t }}</p>
  <img src="/{{ image_base_path }}/addthis_lg.png" alt="addthis-large" />
  <p>{{ 'Numeric'|t }}</p>
  <img src="/{{ image_base_path }}/addthis_numbers.gif" alt="addthis-numeric" />
  <p>{{ 'Counter'|t }}</p>
  <img src="/{{ image_base_path }}/addthis_counter.png" alt="addthis-counter" />
</div>
