{#
/**
 * @file
 * Template for Tabs widget.
 *
 * - contents: referenced block contents.
 * - activeClass: Temporary variable in order to set the 'active'
 *   tab for the first tab.
 *
 */
#}
<ul class="nav nav-tabs" role="tablist">
  {% for key, content in contents %}
    {% set activeClass = ''  %}
    {% if loop.first %}
      {% set activeClass = 'active'  %}
    {% endif %}
      <li class="{{ activeClass }}" role="tab"><a role="button" href="#tab-{{ key }}" data-toggle="tab" data-target="#tab-{{ key }}" aria-controls="tab-{{ key }}">{{ content.section_title }}</a></li>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for key, content in contents %}
    {% set activeClass = ''  %}
    {% if loop.first %}
      {% set activeClass = 'active'  %}
    {% endif %}
    <div id="tab-{{ key }}" class="tab-pane {{ activeClass }}" role="tabpanel">
      {{ content.widget }}
      {{ content.contextual_link }}
    </div>
  {% endfor %}
</div>

