{#
/**
 * @file
 * Theme implementation for a follow me widget.
 *
 * Available variables:
 * - profile_links: A list of links containing domain title and title
 * - display_social : Boolean value 0 or 1
 * - rss_feed : Boolean value 0 or 1
 * - rss_page_url : page URL of rss page
 * - rss_image_url : Rss image URL.
#}

{% set class = display_social ? '' : 'no-label' %}

<div class="rrssb {{ class }}">
  {% if profile_links %}
    <ul class="rrssb-buttons">
      {% if rss_feed %}
        <li class="rss-follow-icon">
          <a href ="{{ rss_page_url }}" target="_blank">
           <img src="{{ rss_image_url }}" width="24" height="24" alt="{{ 'RSS Feed' |t }}" title="{{ 'Syndicate content' |t }}">
            <span class="rrssb-text"> {{ 'RSS' |t }} </span>
          </a>
        </li>
      {% endif %}
      {% for link in profile_links %}
      {% set rrssb_class = link.title == 'Google+' ? 'googleplus' :  link.title %}
        <li class="rrssb-{{ rrssb_class |lower }}">
          <a href ="{{ link.domian }}" target="_blank">
            <span class="rrssb-icon"></span>
            <span class="rrssb-text">{{ link.title |t }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
